@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

scrollbar-width: thin;
scrollbar-color: #ccc #f0f0f0;

-ms-overflow-style: none;
scrollbar-width: thin;
scrollbar-color: #ccc #f0f0f0;

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
